html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Roboto, sans-serif;
}

.head {
	overflow: hidden;
}

.gray {
	background-color: #fbfbfb;
}

.container {
	position: relative;
	width: 1170px;
	margin: 0 auto;
}

.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding-top: 45px;
}

.header a {
	color: #1f1f24;
	text-decoration: none;
}

.connect {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.menu a {
	margin-right: 30px;
}

.menu a:last-child {
	margin-right: 0;
}

.menu a:hover {
	color: #fc557c;
	border-bottom: 1px solid #fc557c;
}

.menu-mob {
	display: none;
	position: relative;
	width: 45px;
	height: 32px;
	cursor: pointer;
	z-index: 10;
}

.menu-mob-content {
	display: none;
	padding: 100px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
	background-color: #fff;
	z-index: 9;
}

.menu-mob-content a {
	display: block;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	background: linear-gradient(to right top, #f25e2a, #fa0890);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menu-line {
	width: 100%;
	height: 6px;
	background-color: orange;
}

.menu-mob.active .line-top {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 13px;
}

.menu-mob.active .line-middle {
	display: none;
}

.menu-mob.active .line-bottom {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: 13px;
}

.line-top {
	position: absolute;
	top: 0;
	background-color: #ff2f96;
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}

.line-middle {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #ff5c7a;
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}

.line-bottom {
	position: absolute;
	bottom: 0;
	background-color: #ff875f;
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}

.phone a {
	margin-right: 30px;
	font-size: 25px;
	font-weight: 700;
}

.call {
	display: inline-block;
	padding: 16px 40px;
	border: 1px solid #fc557c;
	background-color: transparent;
	color: #fc557c !important;
	font-size: 16px;
	border-radius: 50px;
	cursor: pointer;
	outline: none;
}
.mob-call {
	display: none;
	cursor: pointer;
}

.about {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 695px;
}

.me {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.me-mob {
	display: none;
}

.name {
	margin-bottom: 25px;
	color: #1f1f24;
	font-size: 76px;
	font-family: Roboto, sans-serif;
	font-weight: 900;
}

.profession {
	margin-bottom: 45px;
	font-size: 25px;
	color: #8993ad;
}

.btn {
	padding: 24px 70px;
	font-size: 18px;
	background-color: #ff4e2e;
	color: white;
	border-radius: 50px;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
}
.btn_small {
	padding: 15px 70px;
	background-color: #fff;
	color: #000;
}

.fly-element {
	position: absolute;
	/*top: 50%;
	left: 50%;*/
	/*opacity: 1;*/
	font-family: Roboto, sans-serif;
	font-weight: bold;
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	z-index: 5;
}

.fly-element-1 {
	font-size: 48px;
	-webkit-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	transform: rotate(35deg);
	top: 20%;
	left: 0%;
	background: linear-gradient(to right bottom, #fa0890, #f25e2a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*.container:hover .fly-element-1 {
	top: 20%;
	left: -20%;
	opacity: 1;
}*/

.fly-element-2 {
	font-size: 29px;
	-webkit-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
	top: 25%;
	left: 30%;
	background: linear-gradient(to right top, #f25e2a, #fa0890);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*.container:hover .fly-element-2 {
	top: 25%;
	left: 30%;
	opacity: 1;
}*/

.fly-element-3 {
	font-size: 57px;
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
	top: 50%;
	left: -10%;
	background: linear-gradient(to right bottom, #fa0890, #f25e2a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*.container:hover .fly-element-3 {
	top: 50%;
	left: -10%;
	opacity: 1;
}*/

.fly-element-4 {
	font-size: 37px;
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
	bottom: 20%;
	left: 40%;
	background: linear-gradient(to right bottom, #fa0890, #f25e2a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*.container:hover .fly-element-4 {
	bottom: 20%;
	left: 40%;
	opacity: 1;
}*/

.fly-element-5 {
	font-size: 40px;
	-webkit-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	-o-transform: rotate(-25deg);
	transform: rotate(-25deg);
	bottom: 5%;
	background: linear-gradient(to right top, #f25e2a, #fa0890);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*.container:hover .fly-element-5 {
	bottom: 5%;
	opacity: 1;
}*/

.action .fly-element {
	background: linear-gradient(#fff, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.action .fly-element-1 {
	top: auto;
	bottom: 100%;
	left: -30%;
}

.action .fly-element-2 {
	top: auto;
	left: auto;
	bottom: 100%;
	right: -20%;
	font-size: 40px;
}

.action .fly-element-3 {
	top: auto;
	bottom: 0;
	left: -20%;
}

.action .fly-element-4 {
	bottom: auto;
	left: auto;
	top: 100%;
	right: -10%;
}

.action .fly-element-5 {
	right: -30%;
}

.photo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-self: flex-end;
	align-self: flex-end;
}

.photo img {
	z-index: 5;
}

.bg-color {
	width: 920px;
	height: 764px;
	position: absolute;
	top: 11%;
	right: -33%;
	z-index: 3;
}

#bg-color {
	position: absolute;
	width: 920px;
	height: 764px;
	z-index: 5;
}

.section-block {
	padding: 100px 0;
	text-align: center;
	z-index: 5;
	outline: none;
}

.section-title {
	margin: 0;
	text-align: center;
	font-size: 54px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
}

.services-items-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 90px 0;
}

.services-items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.services-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	color: #8993ad;
}

.slider {
	position: relative;
	margin: 100px 0;
}

.slider .slick-prev.slick-arrow, .slick-next.slick-arrow {
	position: absolute;
	top: 40%;
	-webkit-transform: translateY(-40%);
	-ms-transform: translateY(-40%);
	-o-transform: translateY(-40%);
	transform: translateY(-40%);
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: white;
	color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
	box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
	z-index: 5;
}

.slick-prev.slick-arrow {
	left: -40px;
}
.slick-next.slick-arrow {
	right: -20px;
}

.slider .slick-prev.slick-arrow:before, .slick-next.slick-arrow:before {
	content: '';
	display: block;
	width: 14px;
	height: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-repeat: no-repeat;
}

.slick-prev.slick-arrow:before {
	background-image: url(img/left-arrow.png);
}

.slick-next.slick-arrow:before {
	background-image: url(img/right-arrow.png);
}

.slide {
	color: #8993ad;
	font-size: 20px;
}

.slide a {
	outline: none;
}

.slide img, .slide p {
	width: 370px;
	outline: none;
}

.action {
	padding: 90px 0;
	color: white;
	background: linear-gradient(to top right, #ff8f5a, #ff2f96);
	outline: none;
}

.action-title {
	font-size: 45px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
}

.action-subtitle {
	font-size: 18px;
}

.footer-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 80px 0;
}

.footer-top .menu a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-right: 0;
	margin-bottom: 15px;
	font-size: 18px;
	text-decoration: none;
	border: none;
	color: #8993ad;
}

.footer-top .menu a:last-child {
	margin-bottom: 0;
}

.contacts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
}

.footer-phone, .email {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.footer-phone a, .email a{
	font-size: 25px;
	text-decoration: none;
	color: black;
}

.fa {
	margin-right: 20px;
	color: #fc557c;
}

.footer-link .call{
	text-decoration: none;
}
.social {
	margin-top: 30px;
	text-align: center;
}

.social a:last-child {
	margin-right: 0;
}

.facebook, .instagram, .twitter, .vk{
	margin-right: 30px;
	background: url(img/sprites.png) no-repeat;
}

.facebook{
	display: inline-block;
	background-position: -65px -13px ;
	width: 16px;
	height: 28px;
}

.instagram{
	display: inline-block;
	background-position: -162px -13px ;
	width: 25px;
	height: 25px;
}

.twitter{
	display: inline-block;
	background-position: -110px -13px ;
	width: 29px;
	height: 25px;
}

.vk{
	display: inline-block;
	background-position: -7px -17px ;
	width: 35px;
	height: 21px;
}

.copyright {
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	background-color: #31293c;
	color: white;
}

#hidden-content {
	display: none;
	background: linear-gradient(to right bottom, #fa0890, #f25e2a);
	border-radius: 10px;
}
#hidden-content .fancybox-button.fancybox-close-small {
  color: #fff;
  padding: 5px;
}
#hidden-content__2, #hidden-content__3, #hidden-content__4 {
	display: none;
	background: linear-gradient(to right bottom, #f25e2a, #fa0890);
	border-radius: 10px;
}
#hidden-content__2, #hidden-content__3, #hidden-content__4 .fancybox-button.fancybox-close-small {
  color: #fff;
  /*padding: 5px;*/
}
.callback {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	width: 400px;
	height: auto;
	color: #ffffff;
}
.callback-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}
.callback-item {
	width: 100%;
	margin-bottom: 30px;
}
.callback-item input {
	width: 100%;
	margin-top: 10px;
	padding: 15px 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}

@media (max-width: 1800px){
	/*.fly-element {
		top: 50%;
		left: 50%;
	}*/
	/*.container:hover .fly-element-1 {
		left: 0;
		opacity: 1;
	}*/
	.action .fly-element {
		font-size: 32px;
	}
	.action .fly-element-1 {
		bottom: auto;
		top: -30%;
		left: -9%;
		font-size: 32px;
	}
	.action .fly-element-2 {
		right: 0;
	}
	.action .fly-element-3 {
		bottom: -20%;
		left: -5%;
	}
	.action .fly-element-4 {
		right: 10%;
	}
	.action .fly-element-5 {
		right: -5%;
		bottom: 30%;
	}
}

@media (max-width: 1140px){
	.container {
		width: auto;
		padding: 0 40px;
	}
	.menu {
		display: none;
	}
	.footer-top .menu {
		display: block;
	}
	.menu-mob {
		display: block;
	}
	.menu-mob-content.active {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.fly-element-1 {
		left: 10%;
	}
	.fly-element-2 {
		top: 15%;
		left: auto;
		right: 10%;
	}
	.fly-element-3 {
		top: auto;
		bottom: 5%;
		left: auto;
	}
	.fly-element-4 {
		bottom: 10%;
		left: 25%;
	}
	.fly-element-5 {
		top: 30%;
		left: 50%;
	}
	.name {
		font-size: 54px;
	}
	.profession {
		font-size: 20px;
	}
	.services-items-wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.services-items {
		margin-bottom: 80px;
	}
	.services-items:last-child {
		margin-bottom: 0;
	}
	.services-item {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		flex: auto;
		-ms-align-items: center;
		align-items: center;
	}
	.services-item img {
		max-width: 74px;
	}
	.services-item p {
		max-width: 260px;
	}
	.slide img {
		margin: 0 auto;
	}
	.slide p {
		margin: 20px auto;
	}
	.slick-prev.slick-arrow {
		left: -20px;
	}
	.action .fly-element-1 {
		bottom: auto;
		top: -40%;
		left: 20%;
		font-size: 32px;
	}
	.action .fly-element-2 {
		bottom: auto;
		top: 90%;
		right: 5%;
	}
	.action .fly-element-3 {
		display: none;
	}
	.action .fly-element-4 {
		top: 110%;
		right: 40%;
		font-size: 24px;
	}
	.action .fly-element-5 {
		display: none;
	}
}

@media (max-width: 960px){
	.bg-color {
		right: -50%;
	}
	.fly-element-3 {
		bottom: 40%;
	}
	.fly-element-4 {
		left: 5%;
	}
	.about {
		-webkit-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-o-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.me {
		display: none;
	}
	.me-mob {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}
	.slide img, .slide p {
		width: 95%;
	}
		.slider .slick-dots {
		margin-top: 100px;
		padding: 0;
	}
	.slider .slick-dots li {
		display: inline-block;
	}
	.slider .slick-dots li button {
		width: 19px;
		height: 19px;
		margin: 0 15px;
		border-radius: 50%;
		color: transparent;
		background-color: #ebebeb;
		border: none;
		outline: none;
	}
	.slider .slick-dots li.slick-active button {
		background-color: #ff4e2e;
	}
	.action {
		padding: 70px 0;
	}
	.action-title {
		font-size: 31px;
	}
	.action-subtitle {
		font-size: 15px;
	}
	.callback {
		width: auto;
	}
}

@media (max-width: 720px){
	.container {
		padding: 0 20px;
	}
	.menu-mob {
		width: 25px;
		height: 20px;
	}
	.menu-line {
		height: 3px;	
	}
	.call {
		display: none;
	}
	.mob-call {
		display: block;
		width: 30px;
		height: 30px;
	}
	.photo img {
		width: 95%;
		height: 95%;
	}
	.bg-color {
		top: 25%;
		left: -50%;
	}
	.name {
		font-size: 38px;
	}
	.profession {
		font-size: 18px;
	}
	.section-block {
		padding: 50px 0;
	}
	.section-title {
		font-size: 38px;
	}
	.services-items-wrap {
		margin: 50px 0;
	}
	.services-items {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin-bottom: 50px;
	}
	.services-item {
		margin-bottom: 50px;
	}
	.services-item:last-child {
		margin-bottom: 0;
	}
	.slider {
		margin: 50px 0;
	}
	.slider .slick-dots {
		margin-top: 50px;
	}
	.slider .slick-dots li button {
		width: 14px;
		height: 14px;
		margin: 0 10px;
	}
	.action .fly-element-1 {
		top: -30%;
	}
	.footer-top {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding: 50px 0;
	}
	.menu {
		margin-bottom: 50px;
	}
	.footer-phone a, .email a {
		color: #8993ad;
	}
	.footer-phone {
		margin-bottom: 25px;
	}
	.copyright {
		padding: 20px 0;
	}
}

@media (max-width: 540px){
	.menu-mob.active .line-top {
		top: 8px;
	}
	.menu-mob.active .line-bottom {
		bottom: 9px;
	}
	.phone a {
		font-size: 18px;
	}
	.name {
		font-size: 30px;
	}
	.profession {
		font-size: 16px;
	}
	.btn {
		font-size: 16px;
	}
	.fly-element-3 {
		bottom: 50%;
	}
	.fly-element-5 {
		top: 35%;
		right: -5%;
		left: auto;
		background: linear-gradient(#fff, #fff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		z-index: 5;
	}
	.action .fly-element {
		display: none;
	}
	.section-title {
		font-size: 30px;
	}
	.about {
		height: 600px;
	}
	.photo img {
		width: 100%;
		height: 100%;
	}
	.bg-color {
		top: 20%;
	}
	.services-item p {
		font-size: 16px;
	}
	.slide p {
		font-size: 18px;
	}
	.action-title {
		font-size: 27px;
	}
	.action-subtitle {
		font-size: 14px;
		line-height: 1.5;
	}
	.footer-phone a, .email a {
		font-size: 20px;
	}
}

@media (max-width: 424px){
	.about {
		height: 550px;
	}
	.bg-color {
		top: 10%;
	}
	.fly-element-1 {
		font-size: 30px;
		left: 20%;
	}
	.fly-element-2 {
		font-size: 20px;
		top: 20%;
		right: 20%;
	}
	.fly-element-3 {
		font-size: 35px;
	}
	.fly-element-5 {
		font-size: 30px;
	}
}
